/* Global */
html, body {
    font-size: 15px
}

body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
    color: #555555;
    text-rendering: optimizeLegibility;
    min-width: 320px;
}

.ui.header {
    font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h3 {
    margin-top: 0;
    padding-top: 0;
}

/* Top menu */
#top .ui.menu {
    margin-top: 0;
    margin-bottom: 30px;
    border-radius: 0;
}

/* Main content area */
#main {
    padding: 0 50px
}

/* Grid */
.grid .contact {
    margin-left: 50px;
}

/* Inbox */
#mailbox .inbox {
    background-color: #FFFFFF;
}

#mailbox .inbox .item {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#mailbox .inbox .item .rating {
    margin-top: 0.2rem;
}

#mailbox .inbox .item .description {
    margin-left: 2em;
}
