<div class="ui two column page grid">
    <div class="column">
        <div class="ui message">
            <h1 class="header">Start here!</h1>
            <p>
                I must explain to you how all this <strong>mistaken idea</strong>
                of denouncing pleasure and praising pain was born and I will give
                you a complete account of the system, and expound the actual teachings
                of the great explorer of the <strong>truth</strong>, the master-builder
                of human happiness.
            </p>
            <p>
                No one rejects, dislikes, or avoids <strong>pleasure</strong> itself, because it
                is pleasure, but because those who do not know how to pursue
                pleasure rationally encounter consequences that are extremely painful.
            </p>
        </div>
    </div>
    <div class="column">
        <div class="ui labeled vertical fluid icon menu">
            <a ui-sref="mailbox"
               class="item">
                <i class="mail icon"></i> Mailbox
            </a>
            <a ui-sref="contacts"
               class="item">
                <i class="users icon"></i> Contacts
            </a>
            <a ui-sref="settings"
               class="item">
                <i class="setting icon"></i> Settings
            </a>
        </div>
    </div>
</div>
