<h1 class="ui header">Dashboard</h1>

<div class="ui grid">
    <div class="eight wide column">
        <div class="ui message">
            <h2 class="header">
                Angular Router
                (<small>ngRoute</small>)
                <a href="http://docs.angularjs.org/api/ngRoute" class="ui small icon button">
                    <i class="teal icon external url"></i>
                </a>
            </h2>

            <ol class="ui list">
                <li>
                    <strong>Was ist es?</strong>
                    <ul class="ui list">
                        <li>"Offizielles" Routing Modul für AngularJS</li>
                        <li>Gemacht vom AngularJS-Team</li>
                        <li>War früher Teil des AngualarJS-Cores</li>
                    </ul>
                </li>
                <li>
                    <strong>Was kann es?</strong>
                    <ul class="ui list">
                        <li>Einfaches Routing</li>
                        <li>Routing basiert ausschließlich auf URLs</li>
                        <li>Vernküpfung von URLs und Controllern/Templates</li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>

    <div class="eight wide right column">
        <div class="ui message">
            <h2 class="header">
                UI-Router
                (<small>ui.router</small>)
                <a href="http://angular-ui.github.io/ui-router/" class="ui small icon button">
                    <i class="teal icon external url"></i>
                </a>
            </h2>

            <ol class="ui list">
                <li>
                    <strong>Was ist es?</strong>
                    <ul class="ui list">
                        <li>Routing Framework für AngularJS</li>
                        <li>Stammt aus der AngularJS-Community</li>
                        <li>Quasi-Standard für komplexes Routing im Rahmen von AngularJS</li>
                    </ul>
                </li>
                <li>
                    <strong>Was kann es?</strong>
                    <ul class="ui list">
                        <li>Organisation von "States"</li>
                        <li>Zusätzlich URL-Routing</li>
                        <li>Named, Nested und Parallel Views</li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>
</div>
