<div class="ui large inverted menu">
    <a ui-sref="dashboard"
       ui-sref-active="active"
       class="item">
        <i class="dashboard icon"></i> Dashboard
    </a>
    <a ui-sref="contacts.list"
       ng-class="{active: $state.includes('contacts')}"
       class="item">
        <i class="icon users"></i> Contacts
    </a>
    <a ui-sref="mailbox.inbox"
       ng-class="{active: $state.includes('mailbox')}"
       class="item">
        <i class="mail icon"></i> Mailbox
    </a>
    <a ui-sref="settings"
       ui-sref-active="active"
       class="item">
        <i class="icon setting"></i> Settings
    </a>
    <div class="right menu">
        <a ui-sref="help"
           ui-sref-active="active"
           class="icon item">
            <i class="help icon"></i>
        </a>
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search icon"></i>
            </div>
        </div>
    </div>
</div>
