<h1 class="ui header">
    Contacts
    <span class="sub header">State Manager</span>
</h1>

<div class="ui grid">
    <div class="eight wide column">
        <div class="row">
            <div class="ui secondary pointing menu">
                <a ui-sref="contacts.list"
                   ui-sref-active="active"
                   class="item">
                    <i class="teal list layout icon"></i> List contacts
                </a>
                <a ui-sref="contacts.favorites"
                   ui-sref-active="active"
                   class="item">
                    <i class="teal empty star icon"></i> Favorites
                </a>
                <a ui-sref="contacts.create"
                   ui-sref-active="active"
                   class="item">
                    <i class="teal plus icon"></i> Create contact
                </a>
            </div>
        </div>

        <div class="row">
            <div ui-view>
                <h2 class="header">Select...</h2>
            </div>
        </div>
    </div>

    <div class="eight wide right column">
        <div class="row">
            <div class="ui segment">
                <div class="ui top right attached label">
                    HTML <i class="large code icon"></i>
                </div>
                <div hljs
                     language="html">
                    ...
                    <!-- Menu Link -->
                    <a ui-sref="contacts.list"
                       ui-sref-active="active">
                        List contacts
                    </a>

                    ...

                    <!-- Button fuer Sprachumschaltung -->
                    <a ui-sref="contacts.list({lang: 'de'})">
                        Change language: German
                    </a>
                </div>
            </div>
            <div class="divider"></div>
        </div>

        <div class="row">
            <div class="ui segment">
                <div class="ui top right attached label">
                    JS <i class="large code icon"></i>
                </div>
                <div hljs
                     language="javascript">
                    // $state global verfuegbar machen
                    .run(function ($rootScope, $state, $stateParams) {
                        'use strict';

                        $rootScope.$state = $state;
                        $rootScope.$stateParams = $stateParams;
                    });

                    ...

                    // State- und Routen-Konfiguration
                    .config(function ($stateProvider) {
                        'use strict';

                        $stateProvider
                            .state('contacts', {
                                url: '/contacts',
                                templateUrl: 'view/contacts.tpl.html'
                            })
                            .state('contacts.list', {
                                url: '/list/:lang',
                                templateUrl: function ($stateParams){
                                    var lang = $stateParams.lang || 'en';

                                    return 'view/list.' + lang + '.tpl.html';
                                }
                            })

                            ...
                    });
                </div>
            </div>
            <div class="divider"></div>
        </div>
    </div>
</div>

