<div class="ui small button">
    <i class="forward mail icon"></i> Forward
</div>
<div class="ui small button">
    <i class="archive icon"></i> Archive
</div>
<div class="ui small button">
    <i class="trash icon"></i> Delete
</div>

<div class="ui divider"></div>

<div class="ui top attached segment">
    <strong>From:</strong> {{detail.from}}
</div>
<div class="ui attached segment">
    <strong>Subject:</strong> {{detail.subject}}
</div>
<div class="ui attached segment">
    <strong>Date:</strong> {{detail.date}}
</div>

<p>
    Dear Sir or Madam,
</p>
<p>
    ...
</p>
