<div class="ui grid">
    <div class="four wide column">
        <div class="ui segment">
            <i class="massive globe icon"></i>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui segment">
            <i class="massive book icon"></i>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui segment">
            <i class="massive ambulance icon"></i>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui segment">
            <i class="massive female icon"></i>
        </div>
    </div>
</div>
