<h1 class="ui header">
    Settings
    <span class="sub header">Multiple Named Views</span>
</h1>

<div class="ui grid">
    <div class="eight wide column">
        <div class="row">
            <section ui-view="one"></section>
        </div>

        <div class="row">
            <section ui-view="two"></section>
        </div>
    </div>

    <div class="eight wide right column">
        <div class="row">
            <div class="ui segment">
                <div class="ui top right attached label">
                    HTML <i class="large code icon"></i>
                </div>
                <div hljs
                     language="html">
                    <!-- Views mit Namen -->
                    <section ui-view="one"></section>

                    <section ui-view="two"></section>
                </div>
            </div>
            <div class="divider"></div>
        </div>

        <div class="row">
            <div class="ui segment">
                <div class="ui top right attached label">
                    JS <i class="large code icon"></i>
                </div>
                <div hljs
                     language="javascript">
                    ...

                    // State- und Routen-Konfiguration
                    .config(function ($stateProvider) {
                        'use strict';

                        $stateProvider
                            .state('settings', {
                                url: '/settings',
                                templateUrl: 'view/settings.tpl.html',
                                abstract: true
                            })
                            .state('settings.first', {
                                url: '/first',
                                views: {
                                    'one': {
                                        templateUrl: 'view/first/one.tpl.html'
                                    },
                                    'two': {
                                        templateUrl: 'view/first/two.tpl.html'
                                    }
                                }
                            })

                            ...

                            .state('settings.second.more', {
                                url: '/more',
                                views: {
                                    'more01': {
                                        templateUrl: 'view/more/more-01.tpl.html'
                                    },
                                    'more02': {
                                        templateUrl: 'view/more/more-02.tpl.html'
                                    }
                                }
                            });
                    });

                    ...
                </div>
            </div>
            <div class="divider"></div>
        </div>
    </div>
</div>
